html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: lightslategray;
}

body {
    padding: 2rem;
    background-image: url(https://images.unsplash.com/photo-1603489556890-817b0154eb64?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=672&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
}

.logo {
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1516398810565-0cb4310bb8ea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2602&q=80);
    margin: auto;
    margin-bottom: 3rem;
    width: 50rem;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    box-shadow: inset 6px 6px 9px;
}

.logo p {
    position: absolute;
    top: 80%;
    left: 33%;
    font-size: 2.6rem;
    color: antiquewhite;
}

hr {
    border: none;
    border-top: 6px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    padding-bottom: 3rem;
    margin-top: 6rem;
}

hr:after {
    content: ' 🏃🏽‍♂️ 🏃🏾‍♀️ 🏃🏽‍♂️ 🏃🏿  🏃🏽‍  🏃🏼‍♂️ 🏃🏼‍♀️';
    position: relative;
    top: -55px;
    font-size: 5rem;
}

form {
    text-align: center;
}

label {
    font-size: 2.6rem;
}

input[type='number'] {
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0.87);
    width: 40%;
    margin: 1rem 0;
    padding: 0.9rem 0;
    border: none;
    border-radius: 1rem;
    font-size: 3rem;
    text-align: center;
    color: lawngreen;
}

button {
    font-family: inherit;
    border: solid 1px rgb(253, 234, 125);
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bolder;
    width: 7rem;
    height: 7rem;
    background-color: rgb(0, 204, 255);
    color: purple;
    margin: 2rem;
    box-shadow: inset 2px 2px 7px;
}

.entriesWrapper {
    padding: 1rem 0;
    font-size: 3rem;
    margin: 0 10rem;
}

.entriesWrapper h3 {
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
    padding: 1rem;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    border: solid 1px;
    padding: 1rem 1.5rem;
    background-color: black;
    color: aliceblue;
    box-shadow: inset 2px 2px 7px black;
    border-radius: 1rem;
}

.data {
    font-size: 1.6rem;
    box-shadow: inset 2px 2px 7px;
    padding: 2rem;
    border-radius: 1rem;
}

.data div {
    background-color: moccasin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    margin: 2rem;
    box-shadow: inset 2px 2px 7px;
    border-radius: 1rem;
}